<div class="main">
<div class="col-md-12">

<h2>Student360</h2>
<p>“STUDENT360” which delivers real-time status updates of student activities
   help institutions to maintain the student records and manage the things in an
   efficient manner. 
</p>
<p> will help to fetch all the details of a student which 
   include personal details, exam details, attendance, project details, assignment
   details etc.</p>
</div>
</div>