{{!-- <div onclick="parent.location='/managecenter'"  class="report-card">
  <div class="card-body">
    Center
  </div>
</div> --}}

<div onclick="parent.location='/manage/listofcourse'" class="report-card">
  <div class="card-body">
    Course
    </div>
</div>
<div onclick="parent.location='/manage/staff'" class="report-card">
  <div class="card-body">
    Staff
    </div>
</div>
<div onclick="parent.location='/manage/semester'" class="report-card">
  <div class="card-body">
    Semester
    </div>
</div>

<div onclick="parent.location='/manage/nocn'" class="report-card">
  <div class="card-body">
    NOCN
    </div>
</div>



