<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<h1>working</h1>
<body>
	<div>
		<iframe style="width:100%;height:800px" src="/public/uploads/documents/aadhar/ttc081900574aadhar.pdf" type="application/app">not working</iframe> 
		<embed src="/public/uploads/Brain.pdf" >
 <div style="height:500px" class="iframe-container">
  <a href="/public/uploads/Brain.pdf">DOWNLOAD</a>
</div>
	</div>

	{{!-- <iframe src="/public/images/book-image.jpg" frameborder="0">HI</iframe> --}}

	

</body>
</html>
