<div onclick="parent.location='/reports/loginreports'" class="report-card">
  <div class="card-body">
    Login Reports
    
  </div>
  
</div>
<div onclick="parent.location='/traineereport'" class="report-card">
  <div class="card-body">
    Trainee Profile
  </div>
</div>
<div onclick="parent.location='/reports/mentorstudent'" class="report-card">
  <div class="card-body">
   Mentoring
  </div>
</div>
<div class="report-card">
  <div class="card-body">
    Fees 
  </div>
</div>

<div class="report-card">
  <div class="card-body">
    Attendance 
  </div>
</div>